<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <ng-template #customLoadingTemplate>
      <div class="custom-class">
      </div>
    </ng-template>
    <ngx-loading
      [show]="loading"
      [config]="{ backdropBorderRadius: '3px' }"
      [template]="customLoadingTemplate"
    ></ngx-loading>

    <div class="container-fluid">
      <div class="page-title-box">
        <div class="row align-items-center">
          <div class="col-sm-6">
            <h4 class="page-title">Quản lý danh mục sản phẩm</h4>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-right">
              <button type="button" class="rounded btn-success" style="height: 30px" (click)="onAddCategory()">Thêm danh
                mục
              </button>
            </ol>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end page-title -->

      <!-- START ROW -->
      <div class="row">
        <div class="col-xl-12">
          <div class="card m-b-30">
            <div class="card-body">
              <h4 class="mt-0 header-title">Bảng danh mục</h4>
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Tên danh mục</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Chức năng</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of categores; let i = index;">
                    <td>{{i + 1 +page*pageSize}}</td>
                    <td><span class="badge badge-success" style="font-size: 30px">{{item.categoryName}}</span></td>
                    <td>{{item.description}}</td>
                    <td>
                      <div class="d-flex flex-column">
                        <button class="btn btn-primary p-2 w-50" (click)="onEditCategory(item)">Sửa</button>
                        <button class="btn btn-danger p-2 w-50 mt-1" (click)="onDeleteCategory(item)">Xóa</button>
                      </div>
                    </td>
                  </tr>
                  <tr class="mat-row"  *ngIf="categores.length==0">
                    <td class="mat-cell font-semibold" *ngIf="!categores || categores.data;"
                        colspan="12">
                      Dữ liệu trống!
                    </td>

                  </tr>
                  </tbody>
                </table>
                <mat-paginator [pageSizeOptions]="[10,25,50,100]" showFirstLastButtons [pageSize]="pageSize"
                               [length]="totalItems" (page)=" onChangePage($event)"></mat-paginator>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- END ROW -->

    </div>
    <!-- container-fluid -->

  </div>
  <!-- content -->

</div>
<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
<!--<app-editprofile *ngIf="true"></app-editprofile>-->

<app-categoryform [mode]="formMode" [isShow]="isShowForm" [data]="categorySelected"
                  (afterAdd)="onAfterAddCategory()" (afterEdit)="onAfterEditCategory()"
                  (isShowChange)="onIsShowChange($event)" *ngIf="isShowForm"></app-categoryform>
