<div class="modal d-block" id="categoryF" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <ng-template #customLoadingTemplate>
        <div class="custom-class">
        </div>
      </ng-template>
      <ngx-loading
        [show]="loading"
        [config]="{ backdropBorderRadius: '3px' }"
        [template]="customLoadingTemplate"
      ></ngx-loading>

      <!-- Tab Thêm danh mục -->
      <form class="form-horizontal p-3"  id="addCategoryForm">
        <fieldset>

          <!-- Form Name -->
          <legend>Danh mục</legend>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-10 control-label" for="addCategoryForm">Tên danh mục</label>
            <div class="col-md-12">
              <input name="category_name" placeholder="Category name" class="form-control input-md"
                     required="true" type="text" [(ngModel)]="data.categoryName">

            </div>
          </div>

          <!-- Text input-->
          <div class="form-group">
            <label class="col-md-10 control-label" for="addCategoryForm">Mô tả</label>
            <div class="col-md-12">
              <input name="category_description" placeholder="Mô tả" [(ngModel)]="data.description"
                     class="form-control input-md" required="false" type="text">

            </div>
          </div>

          <!-- Button -->
          <div class="form-group">
            <div class="col-md-10">
              <button id="btnSaveCategory" class="btn btn-primary" *ngIf="mode == FormMode.Add" (click)="onSaveCategory()">Thêm</button>
              <button id="btnEditCategory" class="btn btn-primary" *ngIf="mode == FormMode.Edit" (click)="onSaveCategory()">Cập nhật</button>
            </div>
          </div>

        </fieldset>

        <button class="btn btn-icon btn-close p-0" (click)="onIsShowChange(false)">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill="currentColor"
                  d="M24 2.4L21.6 0L12 9.6L2.4 0L0 2.4L9.6 12L0 21.6L2.4 24l9.6-9.6l9.6 9.6l2.4-2.4l-9.6-9.6z"/>
          </svg>
        </button>
      </form>

    </div>
  </div>


</div>

