
.pulse{
  animation: pulse 1s infinite;
  border-radius: 50%;
  width: 70px;
}

@keyframes pulse{
  from{
    box-shadow: 0 0 0 0 rgba(198, 182, 179, 0.85);
  }

  to{
    box-shadow: 0 0 0 30px rgba(201, 48, 48, 0);
  }
}
