<ngx-slick-carousel class="main-slider slider" [config]="slideConfig">
  <div ngxSlickItem class="slider-item " style="background-image:url('../../../../assets/images/img_1.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Gà Rán - Gà Quay</span>
            <h1 class="mt-2 mb-5"><span class="text-color">30%</span>OFF</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="row">
      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item" style="background-image:url('../../../../assets/images/img_2.png')">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Burger - Mì Ý</span>
            <h1 class="mt-2 mb-5"><span class="text-color">30%</span> OFF</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
      <div class="row">

      </div>
    </div>
  </div>

  <div ngxSlickItem class="slider-item"
       style="background-image:url('../../../../assets/images/img_3.png'); background-position:50%;background-repeat:no-repeat;">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12 offset-lg-6 offset-md-6">
          <div class="slider-caption">
            <span class="lead">Thức ăn nhẹ - Tráng miệng</span>
            <h1 class="mt-2 mb-5"><span class="text-color">Coo|</span>FRESH</h1>
            <a href="/shop" class="btn btn-main">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-slick-carousel>


<section class="section products-main">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div>
          <h2 style="font-family: Verdana; font-size: 30px; text-align: center"><strong>Danh sách sản phẩm</strong></h2>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-3 col-12 col-md-6 col-sm-6 mb-5"
           *ngFor="let product of products | paginate: { itemsPerPage: pagingData.limit, currentPage: currentPage, totalItems: totalCount }; let i = index">
        <div class="product">
          <div class="product-wrap">
            <img src="{{product.imageUrl}}" [style.width.px]="fixedWidth" [style.height.px]="fixedHeight">
          </div>
          <div class="product-info">
            <h2 class="product-title h5 mb-0">{{product.productName}}</h2>
          </div>
          <div class="product-info">
            <span class="price">
                        {{product.price | currency:'VND'}}
            </span>
          </div>
        </div>
      </div>

    </div>
    <div class="row d-flex justify-content-center">
      <pagination-controls previousLabel="Trước" nextLabel="Sau"
                           (pageChange)="onDataChange($event)"></pagination-controls>
    </div>
  </div>
</section>
<section class="features border-top" style="background-image:url('../../../../assets/images/img_6.png'); background-size: 1080px;">
<div class="container">
<!--  style="background-image: linear-gradient(180deg, #FFE4C4, #916d54)">&ndash;&gt;-->
    <div class="row" >
      <div class="col-lg-8 col-sm-6 col-md-6 d-flex align-items-end" style="margin-top: 100px">
        <div class="feature-block">
          <div class="content">

            <h4><strong> Thông tin liên hệ</strong></h4>
            <h4>Địa chỉ : Thủy Lợi, X. Duyên Thái , H. Thường Tín, TP. Hà Nội</h4>
            <h4>Điện thoại: 0326123789 </h4>
            <h4>Email: lienhe@an247.com.vn</h4>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 col-md-6 d-flex align-items-end" style="margin-left: 55px">
        <div class="features block">
          <div class="content">
            <div>
              <div>
<!--                <br><br><br><br><br><br><br><br><br><br><br><br>-->
                <iframe width="250" height="250"
                        src="https://maps.google.com/maps?q=Khu chợ Thủy Lợi xã Duyên Thái D3 QL1A Liên Ninh QL1A, Duyên Thái, Thanh Trì, Hà Nộ&t=&z=10&ie=UTF8&iwloc=&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                <style>.mapouter {
                  position: relative;
                  text-align: right;
                  height: 250px;
                  width: 250px;
                }</style>
                <style>.gmap_canvas {
                  margin-top: 50px;
                  text-align: right;
                  overflow: hidden;
                  height: 300px;
                  width: 300px;
                }</style>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div style="
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 100px;
    right: -200px;
    width: 350px;">
    <div style="width: 200%;">
      <a id="btnZaloChat" href="https://zalo.me/0348913604" target="_blank" rel="noopener"
      ><img src="assets/images/zaloicon.png"
            class="pulse" alt="Zalo Button" width="3%"
            style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ; color: black;"></a>
    </div>
  </div>
</section>
