<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu slimScrollDiv" [ngClass]="{'menu-hidden' : toggle }">
  <div class="slimscroll-menu" id="remove-scroll">

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu" id="side-menu">
        <li class="menu-title">Menu</li>
        <li>
          <a routerLink="/admin/" class="waves-effect">
            <i class="icon-accelerator"></i><span class="badge badge-success badge-pill float-right">9+</span> <span> Tổng quan </span>
          </a>
        </li>

        <li>
          <a routerLink="/admin/product-manager" class="waves-effect"><i
            class="icon-boat"></i><span> Quản lý sản phẩm <span class="float-right"></span> </span></a>
        </li>

        <li>
          <a routerLink="/admin/category-manager" class="waves-effect"><i class="icon-calendar"></i><span> Quản lý danh mục </span></a>
        </li>
        <li>
          <a routerLink="/admin/user-manager" class="waves-effect"><i
            class="icon-profile"></i><span> Quản lý người dùng</span></a>
        </li>
<!--        <li>-->
<!--          <a routerLink="/admin/order-manager" class="waves-effect"><i-->
<!--            class="icon-profile"></i><span> Quản lý đơn hàng</span></a>-->
<!--        </li>-->

      </ul>

    </div>
    <!-- Sidebar -->
    <div class="clearfix"></div>

  </div>
  <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->
