<div class="content-page">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
    </div>
  </ng-template>
  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>

  <div class="content">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
    </div>
    <div class="row">
      <div class="col-12 col-xl-8">
        <div class="card card-body border-0 shadow mb-4">
          <h2 class="h5 mb-4">Thông tin tài khoản</h2>
          <div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div><label for="first_name">Họ tên</label> <input class="form-control" [(ngModel)]="user.fullName" id="first_name" type="text" placeholder="Nhập họ tên đầy đủ" required></div>
              </div>
              <div class="col-md-6 mb-3">
                <div><label for="last_name">Email</label> <input class="form-control" [(ngModel)]="user.email" id="last_name" type="text" placeholder="Nhập email" required></div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-md-6 mb-3">
                <label for="birthday">Ngày sinh</label>
                <div class="input-group">
                  <input data-datepicker="" class="form-control" [(ngModel)]="user.birthDate" id="birthday" type="date" placeholder="dd/mm/yyyy" required>
                </div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="gender">Giới tính</label>
                <select class="form-select mb-0" id="gender" [(ngModel)]="user.sex" aria-label="Gender select example">
                  <option [value]="'Other'">Khác</option>
                  <option [value]="'Female'">Nam</option>
                  <option [value]="'Male'">Nữ</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 mb-3">
                <div class="form-group"><label for="email" >Tên đăng nhập</label> <input class="form-control" [(ngModel)]="user.username" id="email" type="email" placeholder="Tên đăng nhập" required></div>
              </div>
              <div class="col-md-6 mb-3">
                <div class="form-group"><label for="phone" >Phone</label> <input class="form-control" [(ngModel)]="user.phoneNumber" id="phone" type="number" placeholder="+84-345 678 910" required></div>
              </div>
            </div>
            <h2 class="h5 my-4">Quê quán</h2>
            <div class="row">
              <div class="col-sm-9 mb-3">
                <div class="form-group"><label for="address">Địa chỉ</label> <input class="form-control" [(ngModel)]="user.address" id="address" type="text" placeholder="Enter your home address" required></div>
              </div>
            </div>
            <div class="mt-3"><button class="btn btn-gray-800 mt-2 animate-up-2" type="submit" (click)="onSaveUser()">Lưu</button></div>
          </div>
        </div>
      </div>
<!--      <div class="col-12 col-xl-4">-->
<!--        <div class="row">-->
<!--          <div class="col-12 mb-4">-->
<!--            <div class="card shadow border-0 text-center p-0">-->
<!--              <div class="profile-cover rounded-top" data-background="assets/img/profile-cover.jpg"></div>-->
<!--              <div class="card-body pb-5">-->
<!--                <img src="http://localhost:8081/image/{{user.imageUrl}}" class="avatar-xl rounded-circle mx-auto mt-n7 mb-4" alt="Neil Portrait"-->
<!--                     height="600" width="600">-->
<!--                <h4 class="h3">{{user.fullName}}</h4>-->
<!--                <h5 class="fw-normal">{{user.email}}</h5>-->
<!--                <p class="text-gray mb-4">{{user.address}}</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="col-12">&ndash;&gt;-->
<!--&lt;!&ndash;            <div class="card card-body border-0 shadow mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;              <h2 class="h5 mb-4">Thay đổi ảnh đại diện</h2>&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="d-flex align-items-center">&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="me-3"> <img class="rounded avatar-xl" src="{{imgUrl}}" alt="change avatar"></div>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="file-field">&ndash;&gt;-->
<!--&lt;!&ndash;                  <div class="d-flex justify-content-xl-center ms-xl-3">&ndash;&gt;-->
<!--&lt;!&ndash;                    <div class="d-flex">&ndash;&gt;-->
<!--&lt;!&ndash;                      <svg class="icon icon-46 text-gray-500 me-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">&ndash;&gt;-->
<!--&lt;!&ndash;                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd"></path>&ndash;&gt;-->
<!--&lt;!&ndash;                      </svg>&ndash;&gt;-->
<!--&lt;!&ndash;                      <input type="file" (change)="onImageUpload($event)">&ndash;&gt;-->
<!--&lt;!&ndash;                      <div class="d-md-block text-left">&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="fw-normal text-dark mb-1">Chọn ảnh</div>&ndash;&gt;-->
<!--&lt;!&ndash;                        <div class="text-gray small">JPG, GIF or PNG.</div>&ndash;&gt;-->
<!--&lt;!&ndash;                      </div>&ndash;&gt;-->
<!--&lt;!&ndash;                    </div>&ndash;&gt;-->
<!--&lt;!&ndash;                  </div>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;          </div>&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </div>
</div>

